<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.whale.setting.component">

    <application>
        <activity
                android:theme="@style/SettingAppTheme"
                android:name=".SettingsActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>